.container_cartelera{
    display: flex;
    margin-top: 20px;
    background-color:gainsboro;
}

.pelicula{
    height: 90px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.container_cartelera_promo{
    display: flex;
    margin-top: 20px;
}

.peliculas{
    display: flex;
    background-color: gainsboro;
}

.promo{
    margin-left: 10px;
    height: 90px;
    width: 70px;
}



.container_peliculas2{
    margin-left: 20px;
    width: 880px;
    
}

.container_cartelera_2{
    display: flex;
    height: 220px;
    margin: 15px;
}

.filtrar{
    background-color: gainsboro;
    width: 200px;

}

.encabezado_filtro{
    
    background-color: brown;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.body{
    font-family: 'Montserrat', sans-serif;
}

.container_estrenos{
    margin: 15px;
}

.estreno img{
    height: 300px;
    width: 217px;
    margin-right: 15px;
    position: relative;
    display: inline-block;
}

.fecha_estreno{
    background-color: brown;
    color: rgb(255, 255, 255);
    width: 217px
}

.fecha_estreno p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}

.container_proximos_estrenos{
    display: flex;
    margin-right: 15px;
}

.estreno {
    position: relative;
    width: 217px; /* Ajusta el ancho según tus necesidades */
    height: 320px; /* Ajusta la altura según tus necesidades */
    margin-right: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

.etiqueta {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(88, 10, 10, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 10;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: small;
  }